h1{
	text-align:center;
	font-family: 'Gamja Flower', cursive !important; /*courtesy of YoonDesign Inc, Google Fonts*/
	color:#006600;
	padding:20px;
}

p{
text-align:center;
}

.content{
	text-align:center;
	padding:15px 80px 15px 80px;
}

hr{
	border: 0 !important; 
	height: 2px !important;
	background-image: -webkit-linear-gradient(left, #006600, #8c8b8b, #006600) !important; 
	background-image: -moz-linear-gradient(left, #006600, #8c8b8b, #006600) !important;
	background-image: -ms-linear-gradient(left, #006600, #8c8b8b, #006600) !important;
	background-image: -o-linear-gradient(left, #006600, #8c8b8b, #006600) !important; 
}

a{
	font-family:serif;
	text-decoration:none;
	font-weight:none;
	padding:10px;
}

a:link{
	color:#1a1aff;
}

a:hover{
	font-weight:bold;
}

a:active{
	text-decoration:none;
}

a:visited{
	color:#660000;
}

footer{
	text-align:center;
	font-family:Palatino, Bookman, sans-serif;
	font-size:10px;
}